appdirs==1.4.3
argon2-cffi==19.2.0
asgiref==3.2.3
autopep8==1.4.4
bcrypt==3.1.7
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cssselect==1.1.0
decouple==0.0.7
defusedxml==0.6.0
distlib==0.3.0
Django==2.2.10
django-allauth==0.39.1
django-braces==1.14.0
django-cors-headers==3.2.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-filter==2.2.0
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
django-templated-mail==1.1.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djoser==2.0.3
fake-useragent==0.1.11
filelock==3.0.12
html-parser==0.2
html5lib==1.0.1
idna==2.8
lxml==4.5.0
Markdown==3.2.1
oauthlib==3.0.1
parse==1.15.0
pep8==1.7.1
Pillow==7.0.0
pipenv==2018.11.26
ply==3.11
pycodestyle==2.5.0
pycparser==2.20
pyee==7.0.1
PyJWT==1.7.1
PyPDF2==1.26.0
pyppeteer==0.0.25
pyquery==1.4.1
python3-openid==3.1.0
pytz==2018.5
reportlab==3.5.42
requests==2.21.0
requests-html==0.10.0
requests-oauthlib==1.2.0
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
soupsieve==2.0
sqlparse==0.2.4
tqdm==4.45.0
urllib3==1.24.2
virtualenv==20.0.20
virtualenv-clone==0.5.4
w3lib==1.21.0
webencodings==0.5.1
websockets==8.1
xhtml2pdf==0.2.4
