arabic-reshaper==2.1.1
asgiref==3.3.1
cycler==0.10.0
Django==3.1.4
django-crispy-forms==1.10.0
future==0.18.2
html5lib==1.1
joblib==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.4
pandas==1.2.0
Pillow==8.0.1
psycopg2-binary==2.8.6
pyparsing==2.4.7
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2020.5
reportlab==3.5.57
scikit-learn==0.24.0
scipy==1.5.4
seaborn==0.11.1
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
webencodings==0.5.1
whitenoise==5.2.0
xhtml2pdf==0.2.5
