{% extends 'home.html' %}

{% block content %}
	<style type="text/css">
		.jumbotron {
				background: white;
				box-shadow: 5px 3px 20px rgba(0, 0, 0, .3);
				max-width: 700px;	
				transition: 400ms linear;	
				padding: 10px auto;
			}

			.jumbotron:hover {
			transform: translateY(-4px);	
			transition: 400ms linear;
			}
			.jumbotron > * {
				margin-top: 10px;
			}
	</style>
	<div class="row mt-4 mx-auto w-75">
		{% for i in prescriptions %}
			<div class="col col-12 container jumbotron my-4 special-effect py-2 department-card">
				<div class="d-flex justify-content-center">
					<div class="mr-4 h4 text-uppercase">{{ i.patient }}</div>
				</div>	
				<b class="h5 mr-4" >problem: </b><small class="lead text-muted">
					{{ i.problem }}
				</small>
				<br>
				<b class="h5 mr-4" >Symtoms: </b><small class="lead text-muted">
					{{ i.symptom }}
				</small>
				<br>
				<b  class="h5 mr-4">prescription: </b><p style="display: inline-block;">
					<small class="lead text-muted">{{ i.prescription}}</small>
				</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}
