{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>DOCMED</title>
	<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
	<link rel="icon" href="{% static  'image/fav.ICO' %}" type="image/gif" sizes="16x16">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<style>
		.covid {
			font-family: ubuntu;	
			color: wheat!important;
			font-size: 20px!important;
			animation: dj 4000ms linear infinite alternate;
			padding: 10px;
			border-radius: 10px;
		}

		@keyframes dj {
			0%, 100% {
				background: green;
				color: red;
			} 10% {
				background: lightgreen;
				color: maroon;
			}
		}
		.docter {
			transition: 500ms linear;	
		}
		.docter:hover {
			transition: 500ms linear;
			transform: translateY(-80px) rotateY(7deg)!important ;
		}

	</style>

</head>
		
<body>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7i_xGhQRURerOEpAOy5bP2vx7AQEp4dc&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
	<div style="min-height:10vh;">

			<div class="sec-nav py-3" style="font-size: 20px;">
				<img src="{% static 'image/main_logo.jpg' %}" class="main_logo">
				<span style="color:white" class="docmed d-none d-md-inline mr-3">Docmed</span>
				<div class="d-inline-block">
					<a href="{% url 'main:home' %}" class="mx-2 text-light">Home</a>
					<a href="{% url 'main:ml_models' %}" class="mx-2 text-light covid">Predict Covid</a>
					<a href="{% url 'main:contact' %}" class="mx-2 text-light">Contact</a>
					{% if request.user.user_category.is_patient %}
						<a href="{% url 'main:patient_appointment' %}" class="mx-2 text-light">Appointment</a>
						<a href="{% url 'main:patient_payment' %}" class="mx-2 text-light">Invoice & Payment</a>
						<a href="{% url 'main:patient_medical' %}" class="mx-2 text-light">Medical History</a>
						<a href="{% url 'main:patient_profile' %}" class="mx-2 text-light">Profile</a>
						<a href="{% url 'main:doctor_list' %}" class="mx-2 text-light">Doctors</a>
					{% elif request.user.user_category.is_doctor %}
						<a href="{% url 'main:doctor_appointment' %}" class="mx-2 text-light">Appointment</a>
						<a href="{% url 'main:doctor_prescriptions' %}" class="mx-2 text-light">Prescription</a>
						<a href="{% url 'main:doctor_profile' %}" class="mx-2 text-light">Profile</a>
					{% elif request.user.user_category.is_receptionist %}
						<a href="{% url 'main:receptionist_dashboard' %}" class="mx-2 text-light">Dashboard</a>
					{% elif request.user.user_category.is_hr %}
						<a href="{% url 'main:hr_dashboard' %}" class="mx-2 text-light">Dashboard</a>
						<a href="{% url 'main:accounting' %}" class="mx-2 text-light">Accounting</a>
					{% endif %}


					{% if user.is_authenticated %}
						<a href="{% url 'main:logout' %}" class="mx-2 text-light">Logout</a>	
					{% else %}
						<a href="{% url 'main:register' %}" class="mx-2 text-light">Sign Up</a>
						<a href="{% url 'main:login' %}" class="mx-2 text-light">Sign In</a>
					{% endif %}

				</div>

			</div>
	</div>
	{% block content %}{% endblock %}
</body>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/all.js' %}" ></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
	
    <script type="text/javascript">
	    (function(d, m){
	        var kommunicateSettings = 
	            {"appId":"38b37405f0ee1d7154fadd1493ead09aa","popupWidget":true,"automaticChatOpenOnNavigation":true};
	        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
	        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
	        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
	        window.kommunicate = m; m._globals = kommunicateSettings;
	    })(document, window.kommunicate || {});
	/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
	</script>

</html>
