{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
	.jumbotron {
			background: white;
			box-shadow: 5px 3px 20px rgba(0, 0, 0, .3);
			max-width: 700px;	
			transition: 400ms linear;	
		}

		.jumbotron:hover {
			transform: translateY(-4px);	
			transition: 400ms linear;
		}
</style>
	{% if messages %}
		{% for message in messages %}
				<div class="alert alert-success w-75 mx-auto mt-3" role="alert">
					{{ message }}
				</div>
		{% endfor %}
	{% endif %}
	<form class="container w-75 jumbotron mt-4 py-2" id="login" method="POST">
		{% csrf_token %}
		<h3 class="text-center"><span class="text-muted">Doctor </span>{{doctor | upper}}</h3>
		<div class="form-group">
		    <label for="exampleFormControlTextarea1" class="h5">Problem</label>
		    <textarea name="problem" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		 </div>
		
		<div class="form-group">
		    <label for="exampleFormControlTextarea1" class="h5">Symtoms</label>
		    <textarea name="symtoms" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>
		<input type="submit" name="" value="submit" class=" ml-0 btn btn-outline-primary mt-4">
	</form>
{% endblock %}
