{% extends 'home.html' %}

{% block content %}
	<div>
		<div class="row m-auto container">
			<div class="col col-4">
				<div class="department-card m-auto">
					<div class="card mt-3">
						<div class="card-header h5 bg-warning">
							Total Appointments
						</div>
						<div class="card-boby d-flex justify-content-center align-items-center bg-warning" style="height:100px;">
							<h1>
								{{ a }}
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="col col-4">
				<div class="department-card m-auto">
					<div class="card mt-3">
						<div class="card-header h5 bg-warning">
							 Appointments Done
						</div>
						<div class="card-boby d-flex justify-content-center align-items-center bg-warning" style="height:100px;">
							<h1>
								{{ b }}
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div class="col col-4">
				<div class="department-card m-auto">
					<div class="card mt-3">
						<div class="card-header h5 bg-warning">
							Upcoming Appointments
						</div>
						<div class="card-boby d-flex justify-content-center align-items-center bg-warning" style="height:100px;">
							<h1>
								{{ c }}
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mt-3 mx-auto">
		<div class="col col-6">
			<div class="card p-2">
				<div class="card-header text-center bg-primary">
					<a href="{% url 'main:create_appointments' %}" class="btn btn-primary py-0">Create Appointments</a>
				</div>
				<div class="card-body">
					<table class="table table-hover table mt-1 w-100 border mx-auto">
					  <thead>
					  	{{ data }}
					    <tr>
					      <th scope="col">Date</th>
					      <th scope="col">Time</th>
					      <th scope="col">Doctor</th>
					      <th scope="col">Patient</th>
					      <th scope="col">Status</th>
					    </tr>
					  </thead>
					  <tbody>
					    
					    {% for i in appointments %}
						    <tr>
						      <td>{{ i.date }}</td>
						      <td>{{ i.time }}</td>
						      <td>{{ i.doctor }}</td>
						      <td>{{ i.patient }}</td>
						      <td>
						      		{% if i.status == 'p' %}
						      			Pending
						      		{% else %}
						      			Completed
						      		{% endif %}
						      </td>
						    </tr>
						{% endfor %}

					  </tbody>
					</table>
					
				</div>
			</div>
		</div>
		<div class="col col-6">
			<div class="card p-2">
				<div class="card-header text-center bg-primary">
					<h6 class="text-light " >Patients</h6>
				</div>
				<div class="card-body">
					<table class="table table-hover table mt-1 w-100 border mx-auto">
					  <thead>
					  	{{ data }}
					    <tr>
					      <th scope="col">Name</th>
					      <th scope="col">Phone</th>
					      <th scope="col">Gender</th>
					      <th scope="col">Age</th>
					      <th scope="col">Update</th>
					      <th scope="col">Delete</th>

					    </tr>
					  </thead>
					  <tbody>
					    
					    {% for i in patient %}
						    <tr>
						      <td>{{ i }}</td>
						      <td>{{ i.phone }}</td>
						      <td>{{ i.gender }}</td>
						      <td>{{ i.age }}</td>
						      <td><a href="{% url 'main:patient_profiles' id=i.id %}" class="btn btn-outline-primary p-1">Update</a></td>
						      <td><a href="{% url 'main:confirm_deletes' id=i.patient.user_category.id %}" class="btn btn-outline-danger p-1">Delete</a></td>

						    </tr>
						{% endfor %}

					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


