{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
		.jumbotron {
			background: white;
			box-shadow: 5px 3px 20px rgba(0, 0, 0, .3);
			max-width: 700px;	
			transition: 400ms linear;	
		}

		.jumbotron:hover {
		transform: translateY(-4px);	
		transition: 400ms linear;
		}


</style>
	
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success w-75 mx-auto mt-3" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<div class="container mx-auto mt-3 py-4 jumbotron">
			<h1 class="text-center text-muted h4 text-uppercase">Sign Up</h1>
			<form method="POST">
				{% csrf_token %}
 				{{ form|crispy }}
				<input type="submit" name="" value="register" class="btn btn-outline-primary">
			</form>
	</div>
{% endblock %}